:root {
    --preto: #16191B;
    --laranja: #FF5D18;
    --cinza: #5A5D5D;
    --branco: #F2F2F2;
    --azul: #485F73;
    --fonte-padrao: "Open Sans";
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.titulos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.titulos-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

table {
    width: 80%;
    max-width: 1000px;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: var(--branco);
}

thead th {
    background-color: var(--cinza);
    color: var(--branco);
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

tbody td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #b0b4b4;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Garante que o overlay fique acima de outros elementos */
}
.modal {
   display: none; /* Inicialmente escondido */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Garante que o modal fique acima do overlay */
}
.modal-content {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.fechar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

/* Ajustes adicionais */
.modal label, .modal select, .modal button {
    margin-bottom: 10px;
    display: block;
}
