:root {
    --preto: #16191B;
    --laranja: #FF5D18;
    --cinza: #5A5D5D;
    --branco: #F2F2F2;
    --azul: #485F73;
    --fonte-padrao: "Open Sans";
}

main {
    padding: 20px;
    padding-bottom: 50px;
    max-width: 600px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
    color: var(--preto);
}

form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--cinza);
    border-radius: 4px;
    background-color: var(--azul);
    color: var(--branco);
}

form textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--cinza);
    border-radius: 4px;
    background-color: var(--azul);
    color: var(--branco);
    height: 200px;
}

#botao-enviar {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}